# Ignore Python environment
safeops_ai_env/

# Ignore model weights
*.pt
*.pth

# Ignore LLM logs and outputs
*.txt

# Ignore large datasets and annotations
annotated_frames/
dummy_frames/
*.dylib
*.so
*.zip

# Ignore other system files
__pycache__/
.DS_Store